html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 10px;
  display: grid;
  place-items: center;
}

/* HEADER ↓ */

.header {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  padding: 0 10px;
  display: block;
  transition-duration: 0.5s;
  position: relative;
}

.header__nav-btn,
.drop__item-btn {
  background: transparent;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.header__nav-btn:hover {
  transform: scale(1.1);
}

.header__nav-btn:active {
  transform: scale(1.2);
}

.drop {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 0.5rem;
  left: 0;
  display: none;
  transform: translateX(10px);
}

.header__nav-item:hover > .drop,
.drop:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop__item-btn:hover {
  transform: scale(1.1);
}

.drop__item-btn:active {
  transform: scale(1.2);
}

.vue-logo:before {
  content: url(../../../img/vue-logo.svg);
  position: absolute;
  left: -15%;
}

/* HEADER ↑ */