html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 10px;
  display: grid;
  place-items: center;
}


/* HEADER ↓ */

.header {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  padding: 0 10px;
  display: block;
  transition-duration: 0.5s;
  position: relative;
}

.header__nav-btn,
.drop__item-btn {
  background: transparent;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.header__nav-btn:hover {
  transform: scale(1.1);
}

.header__nav-btn:active {
  transform: scale(1.2);
}

.drop {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 0.5rem;
  left: 0;
  display: none;
  transform: translateX(10px);
}

.header__nav-item:hover > .drop,
.drop:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.drop__item-btn:hover {
  transform: scale(1.1);
}

.drop__item-btn:active {
  transform: scale(1.2);
}

.vue-logo:before {
  content: url(../../../img/vue-logo.svg);
  position: absolute;
  left: -15%;
}

/* HEADER ↑ */

.main {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label, p {
  margin-bottom: 5px;
  font-size: 20px;
}

input {
  margin-bottom: 20px;
}

.button {
  flex: 1 1 auto;
  padding: 16px 32px;
}

.hidden__button {
  display: none;
}

.print-block {
  display: none;
  border: 0.5px solid black;
  grid-template-columns: max-content 1fr 1fr;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  background: rgba(230, 224, 224, 0.753);
  padding: 15px;
  border: 0.5px solid black;
  text-align: center;
}

.title:nth-last-child(-n+2) {
  text-align: right;
}

.shop-name, .quantity {
  padding: 10px;
  border: 0.5px solid black;
}

.quantity {
  text-align: right;
}

@media print {
  body {
    visibility: hidden;
  }
  .print-block, .print-block * {
    visibility: visible;
  }
  .print-block {
    position: absolute;
    top: 50px;
  }
}